/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
.idea
composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
yarn.lock
public/js
public/css
public/slider/*
public/uploads_extra/*
